@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Dancing Script';
	src: url('../fonts/DancingScript-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Dancing Script';
	src: url('../fonts/DancingScript-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-BoldIt.woff2') format('woff2'),
		 url('ProximaNova-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Bold.woff2') format('woff2'),
		 url('ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Regular.woff2') format('woff2'),
		 url('ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-ExtraBold.woff2') format('woff2'),
		 url('ProximaNova-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-Light.woff2') format('woff2'),
		 url('ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('ProximaNova-Black.woff2') format('woff2'),
		 url('ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('ProximaNova-BlackIt.woff2') format('woff2'),
		 url('ProximaNova-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
