@import url("fonts.css");
@import url("reset.css");
body{
	font-family: "Quicksand";
	font-size: 16px;
}
h1{
	font-size: 47px;
	letter-spacing: 10px;
	text-shadow: 5px 5px 5px #8e730847;
	color: #896f08ee;
}
header li{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
}
header a{
	font-weight: bold;
	text-transform: capitalize;
	text-shadow: 3px 3px 3px #1e8fff94;
	text-decoration-color: royalblue;
	color: dodgerblue;
}
nav h2{
	font-size: 31px;
	letter-spacing: 2px;
	color: rgba(112, 53, 4, 0.959);
}
nav h3{
	color: rgba(112, 53, 4, 0.784);
   letter-spacing: 2px;
	text-decoration: underline ;
	text-decoration-color: green;
}
nav li{
	letter-spacing: 2px;
	color: dodgerblue;
}
.text-head h2{
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration-line: underline;
	text-decoration-color: crimson;
	text-shadow: 3px 3px 2px rgba(112, 53, 4, 0.44);
	color: dimgrey;
}
.text-head h3{
	font-size: 22px;
   letter-spacing: 2px;
	color: dimgrey;
}
.text-head-text{
	text-align: center;
	text-decoration: line-through;
	text-decoration-color: cornflowerblue;
	color: darkgreen;
}
.text-head-text-1{
	letter-spacing: 1px;
	text-align: right;
	line-height: 1.4;
	color: cornflowerblue;
	text-decoration: underline;
	text-decoration-color: aqua;
}
.text-head-text-2{
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.65;
	color: darkolivegreen;
	text-decoration: overline;
	text-decoration-color:rgba(3, 84, 13, 0.44) ;
}
.text-head-text-3{
	font-size: 18px;
	text-align: left;
	color: brown;
	text-shadow:  3px 3px 2px rgba(112, 53, 4, 0.44);
}
.text-head-text-3~p{
	text-align:center;
	letter-spacing: 1px;
	color: darkolivegreen;
}
.text-bottom h2{
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration-line: underline;
	text-decoration-color: crimson;
	text-shadow: 3px 3px 2px rgba(112, 53, 4, 0.44);
	color: dimgrey;
}
.text-bottom-text{
	letter-spacing: 0,5px;
	color: darkblue;
   text-align: center;
	line-height: 1.58;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-decoration-color: brown;
}
.text-bottom-text-1{
	font-family: 'Dancing Script';
	font-weight: medium;
	font-size: 23px;
	color: darkgreen;
	text-align: right;
	line-height: 1.60;
	text-decoration: line-through;
	text-decoration-color: dodgerblue;
}
.text-bottom h3{
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: crimson;
	text-shadow: 3px 3px 2px rgba(112, 53, 4, 0.44);
	color: dimgray;
}
.text-bottom-text-1~p{
	font-family: "Dancing Script";
	font-size: 23px;
	font-weight: 600;
	color: brown;
	line-height: 1.60;
	text-decoration: underline;
	text-decoration-color: rgb(13, 193, 7);
	text-decoration-thickness: 3px;
}
.page-head h2{
	font-family: 'Proxima Nova' sans-serif;
	font-size: 38px;
	font-weight: normal;
	color: #2b2929;
	text-align: center;
}
.page-head p{
	font-family: 'Proxima Nova' sans-serif;
	font-size: 15px;
	font-weight: 200;
	text-align: left;
	color: #2b2929;
	line-height: 1.875;
}
.page-text h3{
	font-family: 'Proxima Nova' sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	line-height: 1.875;
}.page-text li{
	font-family: 'Proxima Nova' sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: #2b2929;
	text-align: left;
	line-height: 1.875;
}
.page-text p{
	font-family: 'Proxima Nova' sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	color: #2b2929;
	line-height: 1.875;
}
