@import url("font.css");
@import url("reset.css");
body{
  color: antiquewhite;
  background: #4d4747;
}
.header{
  width:1900px;
  margin: 0 auto;
}
.nav{
  padding-left: 300px;
  background: #1e99b2;
}
a {
  width: 150px;
  padding: 10px 20px;
  margin-right: 100px;
  display: inline-block;
  font-size: 30px;
  color: rgb(33, 2, 8);
}
a:hover{
  color: crimson;
}
h2{
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: rgb(243, 100, 126);
}
p{
  padding: 30px 40px;
  margin-bottom: 50px;
  text-align:justify;
  letter-spacing: 1.5px;
  line-height: 1.4;
  font-size: 25px;
  font-family: sans-serif;
  background: #5e0505;
  border-radius: 50px;
}
h3{
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(41, 3, 3);
}
h4{
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: rgb(28, 1, 1);
}
ul{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}
li{
  padding: 10px;
  font-size: 23px;
  letter-spacing: 2px;
  font-family: sans-serif;
}
.page >ul:last-child{
  margin-right: 0;
  margin-left: 0;
}
.footer{
  padding-left: 200px;
  background: #3d1313;
}
.footer__item{
 display: inline-block;
 text-align: center;
 width: 200px;
 margin-right: 230px;
}
.footer>:last-child{
  margin-right: 0;
}
.footer a{
  padding: 30px 10px;
  letter-spacing: 4px;
  color: aliceblue;
  font-weight: 600;
  font-family: sans-serif;
}
.footer a:hover{
  color: #8b0606;
}